In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('BankCustomers.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
X=df.iloc[:,3:13]
y=df.iloc[:,13]

In [5]:
states = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)

In [6]:
X=X.drop(['Geography','Gender'],axis=1)

In [7]:
X=pd.concat([X,states,gender],axis=1)

In [8]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [12]:
#pip install keras==2.2.4

Collecting keras==2.2.4
  Using cached Keras-2.2.4-py2.py3-none-any.whl (312 kB)
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\lnazr\miniconda3\lib\site-packages (from keras==2.2.4) (1.0.8)
Requirement already satisfied: numpy>=1.9.1 in c:\users\lnazr\appdata\roaming\python\python38\site-packages (from keras==2.2.4) (1.23.0)
Requirement already satisfied: six>=1.9.0 in c:\users\lnazr\appdata\roaming\python\python38\site-packages (from keras==2.2.4) (1.16.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\lnazr\appdata\roaming\python\python38\site-packages (from keras==2.2.4) (1.1.2)
Requirement already satisfied: h5py in c:\users\lnazr\appdata\roaming\python\python38\site-packages (from keras==2.2.4) (3.7.0)
Requirement already satisfied: scipy>=0.14 in c:\users\lnazr\miniconda3\lib\site-packages (from keras==2.2.4) (1.5.2)
Requirement already satisfied: pyyaml in c:\users\lnazr\miniconda3\lib\site-packages (from keras==2.2.4) (5.3.1)
Installing collected packages: keras
  Attempting uninstall: keras
    Found existing installation: keras 2.9.0
    Uninstalling keras-2.9.0:
      Successfully uninstalled keras-2.9.0
Successfully installed keras-2.9.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
# import tensorflow
# from tensorflow import keras
from tensorflow.python.keras.models import Sequential
#import tensorflow as tf
from tensorflow.python.keras import backend as k
from tensorflow.python.keras.layers import Dense

In [19]:
model = Sequential()

In [20]:
model.add(Dense(activation="relu",input_dim=11,units=6,kernel_initializer="uniform"))
model.add(Dense(activation="relu",units=6,kernel_initializer="uniform"))
model.add(Dense(activation="sigmoid",units=1,kernel_initializer="uniform"))

In [21]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
model.fit(X_train,y_train,batch_size=10,epochs=50)

Epoch 1/50
800/800 [==============================] - 4s 3ms/step - loss: 0.4838 - accuracy: 0.7961
Epoch 2/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.7960
Epoch 3/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.8034
Epoch 4/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.8230
Epoch 5/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8290
Epoch 6/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4134 - accuracy: 0.8292
Epoch 7/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8315
Epoch 8/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8325
Epoch 9/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4104 - accuracy: 0.8326
Epoch 10/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8338
Epoch 11/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8334
Epoch 12/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8346
Epoch 13/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4074 - accuracy: 0.8344
Epoch 14/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8346
Epoch 15/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8344
Epoch 16/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4063 - accuracy: 0.8341
Epoch 17/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4055 - accuracy: 0.8351
Epoch 18/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4052 - accuracy: 0.8338
Epoch 19/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4046 - accuracy: 0.8342
Epoch 20/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8335
Epoch 21/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8354
Epoch 22/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4045 - accuracy: 0.8351
Epoch 23/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8349
Epoch 24/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8351
Epoch 25/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8339
Epoch 26/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4038 - accuracy: 0.8342
Epoch 27/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4032 - accuracy: 0.8331
Epoch 28/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4028 - accuracy: 0.8349
Epoch 29/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4029 - accuracy: 0.8340
Epoch 30/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8356
Epoch 31/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4032 - accuracy: 0.8342: 0s - loss: 0.4028 - accuracy:
Epoch 32/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4024 - accuracy: 0.8342
Epoch 33/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8344
Epoch 34/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8347
Epoch 35/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8350
Epoch 36/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8335
Epoch 37/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8355
Epoch 38/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4023 - accuracy: 0.8360
Epoch 39/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8341
Epoch 40/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8350
Epoch 41/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4023 - accuracy: 0.8359
Epoch 42/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8350
Epoch 43/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8347
Epoch 44/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8340
Epoch 45/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8357
Epoch 46/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8353
Epoch 47/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8331
Epoch 48/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8350
Epoch 49/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8329
Epoch 50/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8341

In [24]:
y_pred=model.predict(X_test)
y_pred=y_pred>0.5

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
accuracy_score=accuracy_score(y_test,y_pred)

In [26]:
cm

array([[1533,   62],
       [ 259,  146]], dtype=int64)

In [27]:
accuracy_score

0.8395